.newGame {
    display: none;
    margin: auto;
}

body {
    background-color: beige;
    color: #545454;
}

.playerSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: #545454 solid 1px;
    margin: auto;
    margin-bottom: 12px;
    width: fit-content;
    background-color:rgba(133, 172, 255, 0.17);
}

.compSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: #545454 solid 1px;
    margin: auto;
    margin-top: 12px;
    width: fit-content;
    background-color: rgba(255, 172, 132, 0.17);
}

h3 {
    text-align: center;
}
